{% extends 'base.html' %}
{% block title %}
  Item {{ posting.id }}
{% endblock %}

{% block content %}
  <body>
    <p>
      <!-- <a href="https://www.computerhope.com/"> -->
       <img src="https://m.media-amazon.com/images/I/61uKv7-GVJL._CR224,0,576,576_UX256.jpg">
      </a>
     </p>
    
    <h1>
      {{ posting.itemname }}
    </h1>
    <p>
      Price: {{posting.price}}<br>
      Description: {{ posting.description }} <br>
      Date purchased: {{posting.date}} <br>
      Pick-up address: {{ posting.pick_address }}
    </p>
    <h2>
      Contact the owner! 
    </h2>
    <p>
      Owner's email address: {{ posting.email_address }}<br>
      Owner's phone number: {{ posting.phone }}<br>
    </p>
  </body>

{% endblock %}