{% extends 'base.html' %}

{% block title %}
    Upload Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form  method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="{{url_for('static', filename='ThomasWoo.png')}}" alt="Thomas Woo" align="middle" width="250" height="150" />
            <h1 class="h3 mb-3 font-weight-normal">
                Qinqin, Please Upload your Baobei
            </h1>
        </form>
    </div>
</body>
{% endblock %}